/*
 Title
 */

.title {
    -fx-font-size: 20px;
}

/*
  Docs navigation
 */

.docs-navigation--button {
    -fx-cursor: hand;
    -fx-border-radius: 4px;
    -fx-focus-color: transparent;
    -fx-font-size: 14px;
    -fx-border-width: 0;
    -fx-padding: 8px 16px;
    -fx-background-color: #0070E0;
    -fx-text-fill: #fff;
    -fx-font-weight: 600;
}

.docs-navigation--button:hover,
.docs-navigation--button:pressed {
    -fx-background-color: #007af5;

}

.docs-navigation--container {
    -fx-background-color: #F7F9FA;
}

/*
 Document label
 */

.document--name {
    -fx-cursor: hand;
    -fx-focus-color: transparent;
    -fx-font-size: 16px;
    -fx-border-width: 0;
    -fx-text-fill: #637282;
    -fx-font-weight: 600;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.document--name:hover {
    -fx-text-fill: #0070E0;
}

/*
 App container
 */

.app--container {
    -fx-background-color: #fff;
}

/*
 Token
 */

.token {
    -fx-focus-color: transparent;
    -fx-font-size: 15px;
    -fx-border-width: 0;
    -fx-text-fill: #637282;
    -fx-font-weight: 500;
    -fx-background-color: rgba(0, 112, 224, 0.15);
    -fx-padding: 4px 10px;
    -fx-background-radius: 4px;
}

.search-bar {

}